.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  width: fit-content;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #3f3351;
  margin: 0 0.2rem;
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.active {
  background-color: #864879;
}

.button a {
  text-decoration: none;
  color: #ebd5d5;
}

.button:hover,
.button:active {
  background-color: #19172c;
}
