.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #864879;
  border: 1px solid #864879;
  color: #ebd5d5;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #3f3351;
  border-color: #3f3351;
}
